# build artefacts
/public

# dev stuff
_datacache
.cache

# secrets and errors
.env
.log

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# temp stuff
_tmp/

# node modules
node_modules/

# Local Netlify folder
.netlify
